<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				January
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://merterm.github.io/positive-friction/">Better Slow than Sorry: Introducing Positive Friction for Reliable Dialogue Systems</a>.
			</span><br />
			<span class="authors">
				Mert {\.I}nan, Anthony Sicilia, Suvodip Dey, Vardhan Dongre, Tejas Srinivasan, Jesse Thomason, G{\"o}khan T{\"u}r, Dilek Hakkani-T{\"u}r, and Malihe Alikhani.
			</span><br />
			<span class="venuetype"></span><span class="venue">ArXiv</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
