<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.name }}: {{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site.base }}/becareful/css/group.css">
    </head>
    <body>
        <div class="container">
            <!-- This is a bit nasty, but it basically says be a column first, and on larger screens be a spaced out row -->
            <div class="header d-flex
                        flex-column
                        flex-md-row justify-content-md-between">
                <a href="{{ site.base }}/becareful/index.html" class="">
                    <img src="{{ site.base }}/becareful/img/logo.jpg" alt="BECAREFUL" id="logo">
                </a>
                <ul class="nav nav-pills justify-content-center">

                    {% assign shorturl = page.url | replace:'.html','' | replace:'index','' %}
                    {% for item in site.navigation %}

                        {% assign itemshorturl = item.link | replace:'.html','' %}

                        {% assign maybe-active = '' %}
                        {% if item.title == 'Research' and page.layout == 'project' %}
                            {% assign maybe-active = 'active' %}
                        {% endif %}
                        {% if itemshorturl == shorturl or is-research %}
                            {% assign maybe-active = 'active' %}
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link {{ maybe-active }}"
                               href="{{ site.base }}/becareful/{{ item.link }}">
                                {{ item.title }}
                            </a>
                        </li>

                    {% endfor %}

                </ul>
            </div>

            {% if page.image %}
                <img src="{{ page.image }}"
                     alt="{{ page.title }}"
                     style="max-width: 400px"
                     class="img-fluid mx-auto d-block mb-4"/>
            {% endif %}

            {% if page.notitle != true %}
                <h1>{{ page.title }}</h1>
            {% endif %}

            {{ content }}

            <div class="footer">
                <div class="university-logos d-flex justify-content-center align-items-center flex-wrap">
                    <a href="https://illinois.edu/" class="university-logo">
                        <img src="{{ site.base }}/becareful/img/logos/uiuc.png" alt="University of Illinois Urbana Champaign" class="footer-logo">
                    </a>
                    <span class="separator mx-3">|</span>
                    <a href="https://www.northeastern.edu/" class="university-logo">
                        <img src="{{ site.base }}/becareful/img/logos/neu.png" alt="Northeastern University" class="footer-logo">
                    </a>
                    <span class="separator mx-3">|</span>
                    <a href="https://www.usc.edu/" class="university-logo">
                        <img src="{{ site.base }}/becareful/img/logos/usc.png" alt="University of Southern California" class="footer-logo">
                    </a>
                </div>
            </div>

        </div> <!-- /container -->

        <!-- Support retina images. -->
        <script type="text/javascript"
                src="{{ site.base }}/becareful/js/srcset-polyfill.js"></script>
    </body>
</html>
