---
layout: default
---

{{ content }}

<!-- People Section -->
{% if page.people %}
    <h2>People</h2>
    <section class="people project-people">
        {% for uname in page.people %}
            {% assign person = site.data.people[uname] %}
            {% include person.html person=person image=true %}
        {% endfor %}
    </section>
{% endif %}


<!-- Sponsors Section -->
{% assign sponsors = site.data.people | where: "role", "sponsors" %}
{% if sponsors.size > 0 %}
    <h2>Sponsors</h2>
    <section class="sponsors project-sponsors">
        {% for sponsor in sponsors %}
            <div class="sponsor-item">
                <img src="{{ sponsor.image }}" alt="{{ sponsor.display_name }}" class="img-fluid" style="max-height: 100px;">
                <p><a href="{{ sponsor.webpage }}">{{ sponsor.display_name }}</a></p>
            </div>
        {% endfor %}
    </section>
{% endif %}
